  { "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "new-cap": [2, { "capIsNewExceptions": ["List", "Map", "Set", "SVG"] }],
    "id-length": [2, {"min": 2, "max": 40, "properties": "never", "exceptions": ["x","d","L","y", "i", "e", "_", "j", "k"]}],
    "camelcase": 1,
    "vars-on-top":[0],
    "curly": [0],
    "quotes": [0],
    "no-unused-expressions":[0],
    "no-shadow":[0],
    "no-multi-spaces":[0],
    "prefer-const":[0],
    "default-case":[0],
    "indent":[0],
    "no-var":[0],
    "semi": [0],
    "no-param-reassign": [0],
    "no-loop-func":0,
    "react/no-multi-comp": 0,
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 2,
    "comma-dangle": 0,
    "no-console": 0,
    "no-alert": 0
  },
  "plugins": [
    "react", "import"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  }
}
