
.leftBg {
  color: #3b81ff;
  margin-top: 150px;
  margin-left: 30px;
}

.rightBg {
  margin-left: 150px;
  text-align: center;
  margin-top: 150px;
  width: 30%;
  height: 300px;
}

.brand {
  color: #3b81ff;
}

.loginPage {
  margin-bottom: 10px;
}